.logout-btn {
    margin: 0 auto;
    display: block !important;
}
.logo {
    width: 50px;
}
#cartcount {
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -8px;
    border-radius: 50%;
    margin-top: -5px;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
}
.notifications_container {
    position: absolute;

    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid gray;
    background-color: white;
    width: 200px;
    z-index: 999;
}
.notifications-read {
    background-color: lightblue;
}
.notifications-unread {
    background-color: lightcoral;
}
.fa-bell {
    font-size: 1.5em;
}
.fas[data-count] {
    position: relative;
}
.fas[data-count]:after {
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    content: attr(data-count);
    padding: 0.5em;
    border-radius: 10em;
    line-height: 0.9em;
    color: white;
    background-color: red;
    text-align: center;
    font: bold 0.5em sans-serif;
    min-width: 2em;
}
.search-input {
    width: 40%;
    outline: none;
    border: 0;
    padding: 8px;
    color: black;
    background-color: rgba(
        var(--bs-light-rgb),
        var(--bs-bg-opacity)
    ) !important;
}
.search-input:hover {
    border: 1px solid rgb(199, 200, 204);
    background-color: white !important;
}
