.images_preview-container {
    display: grid;
    grid-template-columns: repeat(auto0fill, minmax(min(100px, 100%))), 1fr;
}
.img_preview {
    width: 100px;
    display: inline-block;
    position: relative;
}
.img_preview img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.image_preview_icon,
.remove-img-spinner {
    position: absolute;
    top: -15px;
    right: -8px;
    font-size: 20px;
    cursor: pointer;
}
.image_preview_icon:hover {
    color: orange;
}
.newproduct_image-container {
    background-image: url("https://www.volusion.com/blog/content/images/2021/09/Product-Photography.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
